@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #a1c3ff;
}

.logo{
    margin-left: 30px;
    font-size: 26px;
    font-weight: bold;
  }

.navbar{
    background-color: #3474e6;
    color: white;
    font-weight: bold;
    height: 60px;
}
  
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;  
}
  
  .container {
    max-width: 1100px;
    padding: 0 30px;
}
  
.nav{
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    list-style-type: none;
}
  
ul li a {
    color: white;
    text-decoration: none;
}
  
li{
    margin-left: 30px;
}

.description{
    margin: 30px;
    margin-left: 58px;
    font-size: 17px;
}

p{
    width: 450px;
    text-align: justify;
}