*{
  background-color: #171717;
  font-family: sans-serif;
}

.logo{
  margin: 0px;
}

h1{
  color: white;
  font-size: 25px;
  margin-left: 55px;
  padding: 0px;
}

.flexbox-container-1{
  display: flex;
  justify-content: space-between;
  background-color: #171717;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;;
}
.flexbox-container-2{
  display: flex;
  justify-content: space-between;
  background-color: #171717;
  margin-left: 40px;
  margin-right: 40px;
}
.flexbox-container-3{
  display: flex;
  justify-content: space-between;
  background-color: #171717;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;;
}

.flexbox-item{
  border-radius: 30px;
  width: 200px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.flexbox-item:hover{
  opacity: 0.7;
}

img{
  height: 300px;
  width: 200px;
}