@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #a1c3ff;
}

.logo{
  font-size: 26px;
  font-weight: bold;
}

.navbar{
  background-color: #3474e6;
  color: white;
  font-weight: bold;
  height: 60px;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;  
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

ul{
  display: flex;
  margin-left: 100px;
  justify-content: space-between;
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

li{
  margin-left: 30px;
}

header{
  background-image: url("../thumbnails/headerImage.jpg");
  height: 300px;
}

